:root {
  --main-color: #54a57e;
  --red: #b62222;
  --background-color: #eee;
  --black-letter: #1e1e1e;
  --gray-letter: #4c4c4c;
  --white-letter: #f0f2f5;
  --list-background-color: #fff;

  --font-size: 1.3rem;
  --radius: 5px;
  --font-family: "my-font";
}

@font-face {
  font-family: "my-font";
  src: url("../assets/Rubik-VariableFont_wght.ttf");
  font-weight: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--black-letter);
  font-size: var(--font-size);
  overflow: hidden;
  font-family: var(--font-family);
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

dialog {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  width: 1000px;
  max-height: 95%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--black-letter);
  border-radius: var(--radius);

  z-index: 3;
  overflow-y: auto;
  transition: ease-in 200ms;
}

button {
  padding: 10px;
  border-radius: var(--radius);
  border: none;
  background-color: var(--main-color);
  color: var(--white-letter);
  font-size: 20px;

  font-weight: bold;
  cursor: pointer;
  transition: opacity 200ms;
  font-family: var(--font-family);
}

button:hover {
  opacity: 0.8;
}

select {
  font-size: 20px;
  padding: 10px;
  color: var(--black-letter);
  font-family: var(--font-family);
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

form img {
  width: 200px;
  border-radius: var(--radius);
}

form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

form label input {
  padding: 10px;
  border-radius: var(--radius);
  border: 1px solid var(--black-letter);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-letter);
  opacity: 0.4;
  z-index: 2;
}

.error-message {
  color: var(--red);
}

.error-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  font-size: xx-large;
  margin: 10% auto;
}

.empty-text {
  font-size: xx-large;
}

@media screen and (width < 1000px) {
  body {
    font-size: 1rem;
  }

  button {
    font-size: 0.8rem;
    padding: 5px;
  }

  dialog {
    max-width: 95%;
  }

  select {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  form label input,
  select {
    padding: 5px;
    font-size: 1rem;
  }
}
