.header-container {
  flex: 0.05;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white-letter);
  border-bottom: 2px solid var(--black-letter);

  margin-bottom: 20px;
  padding: 10px 50px;
}

.back-button,
.account-button,
.logout-button {
  background-color: var(--white-letter);
  padding: 0;
}

.location-text {
  margin: 0 auto 0 25px;
  font-weight: bold;
  text-transform: capitalize;
}

.location-text > span:last-of-type {
  color: var(--main-color);
}

.logout-button {
  margin-left: 20px;
}

@media screen and (width < 1000px) {
  .header-container {
    padding: 10px;
  }
  .location-text {
    display: none;
  }

  .back-button {
    margin-right: auto;
  }
}
