.header-container {
  display: flex;
  justify-content: flex-end;
  background-color: var(--white-letter);
  border-bottom: 2px solid var(--black-letter);

  margin-bottom: 20px;
  padding: 10px 50px;
}

.back-button {
  margin: 0 auto 0 0;
}

.close-session-button {
  margin-left: 10px;
}
