.list {
  flex: 0.9;
  margin: 0 50px 0 50px;
  display: grid;
  height: 85vh;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
  grid-template-areas: "title button" "list list";
  gap: 10px;
}

.tests-list-container {
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "title buttons" "filters filters" "list list";
}

.test-evolution-page > h1,
.test-page > h1,
.list > h1 {
  grid-area: title;
}

.test-list,
.user-list {
  grid-area: list;

  background-color: var(--list-background-color);
  padding: 20px;
  border-radius: var(--radius);
  border: 1px solid var(--black-letter);
  overflow-y: auto;
}

.test-filters {
  grid-area: filters;
  justify-self: flex-end;
  align-self: center;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: fit-content;
  font-size: 16px;
}

.test-details-button,
.add-user-button {
  grid-area: button;
  justify-self: flex-end;
  align-self: center;
}

.tests-buttons {
  display: flex;
  grid-area: buttons;
  justify-self: flex-end;
  align-self: center;
  gap: 20px;
}

@media screen and (width < 1000px) {
  .list {
    margin: 0 5px 0 5px;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "title" "button" "list";
  }

  .test-list,
  .user-list {
    padding: 5px;
  }

  .tests-list-container {
    grid-template-areas: "title" "buttons" "list" "filters";
  }

  .test-details-button,
  .add-user-button,
  .tests-buttons {
    justify-self: flex-start;
    flex-wrap: wrap;
  }

  .test-filters {
    display: none;
  }
}
