.login-container {
  margin: 10% auto;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  width: fit-content;
  align-items: center;
}

.login-container > form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  padding: 25px;
  border-radius: var(--radius);
  border: 1px solid var(--black-letter);
  background-color: var(--white-letter);
}

.login-button {
  width: 100%;
}
