.view-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-data {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 20px;
}

.user-data > .text-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-data > .profile {
  width: 200px;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--black-letter);
  margin-bottom: 15px;
}

.cross-button {
  align-self: flex-end;
  background-color: var(--form-background);
  color: var(--black-letter);
  font-size: xx-large;
}

.view-menu > button {
  align-self: flex-end;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 20px;
  grid-column: 1 / -1;
}

.cancel-button {
  background-color: var(--form-background);
  color: var(--red);
  transition: 200ms;
  margin-left: auto;
}

.delete-button {
  background-color: var(--red);
}

.help-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*DELETE MENU*/
.delete-menu {
  position: fixed;
  margin-top: 20px;
  width: 500px;

  display: flex;
  gap: 20px;
  width: 50%;
}

/*FIBRO INPUT*/
.fibro-label {
  flex-direction: row;
}

/*PASSWORDS*/
.password-form {
  grid-template-columns: 1fr;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin-left: 10px;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--main-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

@media screen and (width < 1000px) {
  .user-data {
    flex-direction: column;
  }

  .delete-menu {
    width: 100%;
  }
}
