.model-editor-container {
  position: relative;
  height: 85vh;
  margin: 0 25px;
}

/*region EDITOR CONTROLS */
.model-editor-controls-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.model-editor-controls-button {
  display: none;
  font-size: medium;
  border: 1px solid var(--black-letter);
}

.model-editor-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--black-letter);
  border-radius: 5px;
}

.model-date-container {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  gap: 10px;
}

.date-container-doctor {
  grid-template-columns: 8fr 1fr 1fr;
}

.model-canvas {
  width: 100%;
  height: 100%;
}

.model-editor-date-input {
  width: 100%;
  font-size: 15px;
  padding: 5px;
}
/*endregion*/

/*region BUTTONS*/
.model-buttons-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.model-editor-container button {
  color: var(--black-letter);
  background-color: var(--background-color);
}

.model-editor-container button.model-button-active {
  background-color: #cadbc1;
}

.model-editor-container button:hover {
  background-color: #cadbc1;
}
/*endregion*/

/*region LAYERS*/
.model-layer-selector-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.model-layer-selector-container > summary {
  cursor: pointer;
}

.model-layer-selector-container > summary:hover {
  background-color: #cadbc1;
}

.model-layer-selector-content {
  margin-right: 10px;
}

.model-layer-selector {
  display: grid;
  grid-template-columns: 60% 40%;
}

.model-layer-selector > label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.model-layer-selector > div {
  display: flex;
  justify-content: end;
}
/*endregion*/

/*region COLORS*/
.model-color-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  transition: 300ms;
  border: 1px solid #111;
  border-radius: 5px;
}

.model-colors-list-container > summary {
  cursor: pointer;
}

.model-colors-list-container > summary:hover {
  background-color: #cadbc1;
}

.model-colors-list-container > button {
  font-size: medium;
  margin: 10px 0 10px 0;
}

.model-color-details > p {
  font-weight: bold;
}

.model-color-menu {
  position: fixed;
  display: flex;
  gap: 30px;
}

.model-color-menu label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.model-color-menu input {
  font-size: 16px;
  padding: 5px;
  z-index: 1;
}

.model-color-menu textarea {
  height: 150px;
  padding: 10px;
  resize: none;
  color: var(--black-letter);
}

.model-colors-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 300px;
}

.model-colors-list > p {
  margin-top: 10px;
  font-size: 14px;
}

.model-color-item > div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}

.model-color-bullet {
  width: 40px;
  height: 20px;
  border-radius: 5px;
}

.model-colors-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.model-color-button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.model-intensity-label > p {
  margin: 0 auto;
  font-weight: bold;
}

.model-color-display {
  display: flex;
  gap: 10px;
  align-items: center;
}

.model-color-display > div {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
/*endregion*/

/*region NOTES*/
.model-note {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.model-color-menu button.cross-button,
.model-note button.cross-button {
  align-self: flex-end;
  background-color: var(--form-background);
  color: var(--black-letter);
  font-size: xx-large;
}

.model-note > textarea {
  height: 200px;
  padding: 10px;
  resize: none;
  color: var(--black-letter);
}

.model-note > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.model-note-color {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: inline-block;
}
/*endregion*/

@media screen and (width < 1000px) {
  .model-editor-controls-button {
    display: initial;
  }

  .model-editor-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  .model-editor-controls-container {
    width: 95vw;
    margin-right: 10px;
    background-color: var(--background-color);
  }

  .model-editor-controls {
    display: none;
  }

  .model-editor-controls.show {
    display: flex;
  }

  .model-color-menu {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    padding: 20px;
    z-index: 2;
  }
}
