.test-evolution-container,
.test-container {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  height: 75vh;

  margin: 25px 50px;
  padding: 20px;
  border: 2px solid var(--black-letter);
  border-radius: var(--radius);
  background-color: var(--list-background-color);
}

.test-evolution-container {
  grid-template-rows: 50px auto;
}

.test-evolution-container > .tests-buttons {
  grid-column: span 1;
}

.test-container > .body-parts-container {
  display: flex;
  gap: 20px;
}

.tests-buttons {
  grid-column: span 2;
  display: flex;
  gap: 10px;
}

.body-parts-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tests-buttons > button,
.body-parts-buttons > button {
  background-color: var(--background-color);
  color: var(--black-letter);
  border: 1px solid var(--black-letter);
}

.body-parts-buttons > button {
  text-align: left;
}

.tests-buttons > .active-chart {
  background-color: var(--main-color);
  color: var(--white-letter);
}
.body-parts-buttons > .active-part,
.body-parts-buttons > .active-part1,
.body-parts-buttons > .active-part2 {
  background-color: var(--main-color);
  color: var(--white-letter);
}

.echarts-for-react {
  height: 100%;
}
