.eva-scale {
  grid-column: 1/-1;
  margin-bottom: 20px;
}

.eva-scale > p {
  align-self: center;
}

.new-tests-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1/-1;
}

.new-test {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--black-letter);
  border-radius: var(--radius);
  background-color: var(--background-color);
}

.remove-new-test-button {
  align-self: flex-end;
  background-color: var(--form-background);
  margin-bottom: -40px;
  color: var(--red);
  font-size: x-large;
}

.add-new-test-button {
  align-self: flex-start;
  background-color: var(--form-background);
  color: var(--main-color);
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.selected-video {
  color: var(--black-letter);
}

.record-dialog {
  position: fixed;
  margin-top: 20px;
  width: 800px;
}

.record-dialog video {
  border-radius: var(--radius);
  margin: 50px 0;
}

.save-video-disable {
  background-color: gray;
  cursor: inherit;
}

.save-video-disable:hover {
  opacity: 1;
}

@media screen and (width < 1000px) {
  .video-container input,
  .video-container select {
    font-size: 0.8rem;
    width: 100%;
    padding: 5px;
  }

  .remove-new-test-button {
    margin-bottom: -40px;
  }
}
