.test-evolution-page,
.test-page {
  margin: 0 50px 0 50px;
  display: grid;
  height: 85vh;
  grid-template-rows: 1fr 9fr;
  gap: 10px;
  grid-template-areas: "title button" "container container";
}

.test-evolution-container,
.test-container {
  grid-area: container;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: auto 3fr;
  gap: 20px;

  padding: 20px;
  border: 2px solid var(--black-letter);
  border-radius: var(--radius);
  background-color: var(--list-background-color);
  overflow-y: auto;
}

.test-details-button {
  grid-area: button;
}

.test-evolution-container {
  grid-template-rows: 50px auto;
}

.test-evolution-container > .charts-buttons {
  grid-column: span 1;
}

.body-parts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}

.body-parts-container > div {
  display: flex;
  gap: 20px;
}

.body-parts-container
  > div
  > .body-parts-buttons:first-child
  + .body-parts-buttons:last-child {
  padding-left: 20px;
  border-left: 1px solid var(--black-letter);
}

.charts-buttons {
  grid-column: span 2;
  display: flex;
  gap: 10px;
}

.body-parts-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.charts-buttons > button,
.body-parts-buttons > button {
  background-color: var(--background-color);
  color: var(--black-letter);
  border: 1px solid var(--black-letter);
}

.body-parts-buttons > button {
  text-align: left;
}

.charts-buttons > .active-chart {
  background-color: var(--main-color);
  color: var(--white-letter);
}
.body-parts-buttons > .active-part,
.body-parts-buttons > .active-part1,
.body-parts-buttons > .active-part2 {
  background-color: var(--main-color);
  color: var(--white-letter);
}

.echarts-for-react {
  height: 100%;
}

.loading {
  color: var(--gray-letter);
}

.buttons-container > .loading {
  align-self: center;
}

.loading::after {
  content: "";
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    content: "";
  }
  30% {
    content: ".";
  }
  60% {
    content: "..";
  }
  90% {
    content: "...";
  }
}

@media screen and (width < 1000px) {
  .test-page {
    margin: 0 5px 0 5px;
    grid-template-areas: "title" "button" "container";
    grid-template-rows: 0.5fr 0.5fr 9fr;
  }

  .test-evolution-page {
    margin: 0 5px 0 5px;
    grid-template-rows: auto 1fr;
  }

  .test-evolution-container,
  .test-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
  }

  .test-container > .body-parts-container {
    display: block;
  }

  .test-evolution-container,
  .test-container {
    display: flex;
    flex-direction: column;
  }

  .charts-buttons,
  .body-parts-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;

    padding: 5px;

    border: 1px solid var(--black-letter);
    background-color: var(--background-color);
    border-radius: var(--radius);
  }

  .test-evolution-container,
  .test-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}
